# macOS
.DS_Store

# VSCode
.vscode/

# Python
__pycache__/
*.pyc

# Logs
*.log

# Secrets
.env
secrets.*
*.key

# LaTeX / papers
*.aux
*.fls
*.fdb_latexmk
*.out
*.toc

# Jupyter
.ipynb_checkpoints/

# temp
*.tmp
*.swp